.__flashsale {
    max-width: 1110px;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    .__flashsale-box {
        background-color: $color-gray-1;
        width: 1110px;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        h2 {
            font-size: $font-size-45;
            color: $color-white-1;
            font-weight: $font-weight-bold;
        }

        p {
            font-size: $font-size-20;
            color: $color-white-1;
            font-weight: $font-weight-bold;
            margin-top: 1rem;
        }

        .__btn-white {
            margin-top: 2rem;
        }
    }
}

